<% include partials/_header %>

<div>
    <a href="/addCount">Crear Cuenta</a>
    <a href="/crear-asiento">Crear Asiento</a>
    <a href="/libro-mayor">Libro mayor</a>
</div>

<form action="/addCount" method="post">
    <input type="text" name="name" placeholder="Nombre de cuenta">

    <select class="form-control" name="type" required>
        <option value='ACTIVO'>ACTIVO</option>
        <option value='PASIVO'>PASIVO</option>
        <option value='PN'>PN</option>
        <option value='RESULTADO'>RESULTADO</option>
    </select>
    <button type="submit">Crear</button>
</form>

<table>
    <thead>
        <tr>
            <th>N°</th>
            <th>Nombre Cuenta</th>
            <th>Tipo de cuenta</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i < counts.length; i++) { %>
        <tr>
            <td><%= i + 1%></td>
            <td><strong><%= counts[i].name %></strong></td>
            <td><%= counts[i].type %></td>
            <td>
                <a href="/delete/<%= counts[i]._id %>">
                    Delete 
                </a>
            </td>
            <td>           
                <a href="/edit/<%= counts[i]._id %>">
                    Edit
                </a>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>



