<% include partials/_header %>

<pre>
        <%= asientos %>
</pre>

<pre>
        <%= nvo_asiento %>
</pre>


<div>
    <a href="/addCount">Crear Cuenta</a>
    <a href="/crear-asiento">Crear Asiento</a>
    <a href="/ver-libros">Ver Libros</a>
</div>
<br>
<br>
<br>
<br>
<script src="/crearasiento.js"></script>


<h1>crear asiento</h1>
<form action="/crear-asiento" method="post">
    <strong>Nª: </strong>
    <input type="number" name="numero_asiento" value="<%= i + 1%>" placeholder="<%= i + 1 %>">
    <strong>Fecha: </strong>
    <input type="date" name="fecha">
    <br>
    <br>
    <input type="text" id = ctas name="cuenta" value= allInfo >
    <button type="submit" >crear asiento</button>
</form>

<form action="/crear-asiento" method="post">
        <strong>Elija cuenta: </strong>
        <select name='nombre' id='nombre'>
                <% for(var i=0; i < asientos.length; i++) { %>
                <option value="<%= asientos[i].name %>"><%= asientos[i].name %></option>
                <% } %>
        </select>
        <input type="radio" name="debe" value="debe" id='debe'> Deb
        <input type="radio" name="haber" value="haber" id='haber'> Habe
        <br>
        <br>
        <strong>Importe: </strong>
        <input type="number" name="importe" id="importe">
        <input type="button" value="añadir al asiento" onClick="test()">
</form> 


<table border="1">
    <thead>
        <tr>
            <th style = "width: 5%">N°</th>
            <th style = "width: 10%">fecha</th>
            <th style = "width: 85%">
                <table border="1" style = "width: 100%">
                <thead>
                    <th style = "width: 25%">Nombre Cuenta</th>
                    <th style = "width: 25%">hebe</th>
                    <th style = "width: 25%">Haber</th>
                    <th style = "width: 25%">importe</th>
                </thead>
                </table>
            </th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i < nvo_asiento.length; i++) { %>
        <tr>
            <td><%= i + 1%></td>
            <!-- <td><strong><%= nvo_asiento[i].numero_asiento %></strong></td> -->
            <td><strong><%= nvo_asiento[i].fecha %></strong></td>


            <td>  
                <table border="1" style="width: 100%">
                    <% for(var j=0; j < nvo_asiento[i].cuenta.length; j++) { %> 
                <tr>
                    <td style = "width: 25%"><strong><%= nvo_asiento[i].cuenta[j].nombre %></strong></td>
                    <td style = "width: 25%"><strong><%= nvo_asiento[i].cuenta[j].debe %></strong></td>
                    <td style = "width: 25%"><strong><%= nvo_asiento[i].cuenta[j].haber %></strong></td>
                    <td style = "width: 25%"><strong><%= nvo_asiento[i].cuenta[j].importe %></strong></td>
                </tr>
                <% } %>
                </table>
            </td>
            


        </tr>
        <% } %>
    </tbody>
</table>
