<% include partials/_header %>

<pre>
        <%= asientos %>
</pre>

<pre>
        <%= nvo_asiento %>
</pre>


<div>
        <a href="/addCount">Crear Cuenta</a>
        <a href="/crear-asiento">Crear Asiento</a>
        <a href="/ver-libros">Ver Libros</a>
</div>
<br>
<br>
<br>
<br>

<h1>crear asiento</h1>
<form action="/crear-asiento" method="post">
        <strong>Fecha: </strong>         
        <input type="date" name="fecha" >
        <br>
        <br>
        <strong>Elija cuenta: </strong> 
        <select name="cuenta" id="">
                <% for(var i=0; i < asientos.length; i++) { %>
                <option value="<%= asientos[i].name %>"><%= asientos[i].name %></option>
                <% } %>
        </select>
        <input type="radio" name="dh" value="debe" checked> Debe
        <input type="radio" name="dh" value="haber"> Haber
        <br>
        <br>
        <strong>Importe: </strong>
        <input type="number" name="importe">
        <button type="submit">Añadir al asiento</button>

</form>

<table>
        <thead>
                <tr>
                        <th>N°</th>
                        <th>fecha</th>
                        <th>Nombre Cuenta</th>
                        <th>Debe/haber</th>
                        <!-- <th>Haber</th> -->
                        <th>importe</th>
                </tr>
        </thead>
        <tbody>
                <% for(var i=0; i < nvo_asiento.length; i++) { %>
                <tr>
                        <td><%= i + 1%></td>
                        <td><strong><%= nvo_asiento[i].fecha %></strong></td>
                        <td><strong><%= nvo_asiento[i].cuenta %></strong></td>
                        <td><strong><%= nvo_asiento[i].dh %></strong></td>
                        <td><strong><%= nvo_asiento[i].importe %></strong></td>
                       


                        </td>


                </tr>
                <% } %>
        </tbody>
</table>













<!-- <form action="">
        <input type="date" name="bday">
        <select name="" id="">
                <% for(var i=0; i < asientos.length; i++) { %>
                <option value=""><%= asientos[i].name %></option>
        
                <% } %>
        </select>
       
</form>
<form>
        <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes()">
                        <select>
                                <option>Select an option</option>
                        </select>
                        <div class="overSelect"></div>
                </div>
                <div id="checkboxes">
                        <label for="one">
                                <input type="checkbox" id="one" />First checkbox</label>
                        <label for="two">
                                <input type="checkbox" id="two" />Second checkbox</label>
                        <label for="three">
                                <input type="checkbox" id="three" />Third checkbox</label>
                </div>
        </div>
</form>

<script>
var expanded = false;

function showCheckboxes() {
var checkboxes = document.getElementById("checkboxes");
if (!expanded) {
checkboxes.style.display = "block";
expanded = true;
} else {
checkboxes.style.display = "none";
expanded = false;
}
}
</script> -->