<% include partials/_header %>
<pre>
        <%= lmayor %>
</pre>

<table border="1">
    <thead>
        <tr>
            <th style="width: 5%">N°</th>
            <th style="width: 10%">fecha</th>
            <th style="width: 10%">debe</th>
            <th style="width: 10%">haber</th>
            <th style="width: 10%">saldo</th>
        </tr>
    </thead>
        <tbody>
            <% for(var i=0; i < lmayor.length; i++) { %>
            <tr>

                <!-- <td><%= i + 1%></td> -->
                <td><%= lmayor[i].numero_asiento %></td>
                <!-- <td><strong><%= lmayor[i].numero_asiento %></strong></td> -->
                <td><strong><%=  lmayor[i].fecha %></strong></td>
                 <% for(var j=0; j < lmayor[i].cuenta.length; j++) { %>
                    <%if(lmayor[i].cuenta[j].debe=="debe"){%>
                    <td style="width: 25%"><strong><%= lmayor[i].cuenta[j].importe %></strong></td>
                    <%}else {%>
                    <td style="width: 25%"><strong></strong></td>
                    <%}%>
                    <%if(lmayor[i].cuenta[j].haber=="haber"){%>
                    <td style="width: 25%"><strong><%= lmayor[i].cuenta[j].importe %></strong></td>
                    <%} else{%>
                    <td style="width: 25%"><strong></strong></td>
                    <%}%>
                    <%}%>
        
          
            
        
        
        
            </tr>
            <% } %>
        </tbody>
        </table>





<% include partials/_footer%>