<% include partials/_header %>

<table border="1">
    <thead>
        <tr>
            <th style="width: 5%">N°</th>
            <th style="width: 10%">fecha</th>
            <th style="width: 10%">debe</th>
            <th style="width: 10%">haber</th>
            <th style="width: 10%">saldo</th>
        </tr>
    </thead>

    <tbody>
<% let saldoSum = 0 %>
        <% for(var i=0; i < lmayor.length; i++) { %>
            <% for(var j=0; j < lmayor[i].cuenta.length; j++) { %>
            <tr>


                <%if(lmayor[i].cuenta[j].nombre==count_name){%>

                    
                    <td><%= lmayor[i].numero_asiento %></td>
                    <td><strong><%=  lmayor[i].fecha.getDate() + '/'+(lmayor[i].fecha.getMonth()+1) +'/' +lmayor[i].fecha.getFullYear() %></strong></td>
                    
                    <%if(lmayor[i].cuenta[j].debe=="debe"){%>
                        <td style="width: 25%"><strong><%= lmayor[i].cuenta[j].importe %></strong></td>
                    <%}else {%>
                        <td style="width: 25%"><strong></strong></td>
                    <%}%>

                    <%if(lmayor[i].cuenta[j].haber=="haber"){%>
                        <td style="width: 25%"><strong><%= lmayor[i].cuenta[j].importe%></strong></td>
                    <%} else{%>
                        <td style="width: 25%"><strong></strong></td>
                    <%}%>


                    <%if(lmayor[i].cuenta[j].debe=="debe"){%>

                        <%if(lmayor[i].cuenta[j].tipo=="PASIVO"){%>
                            <td style="width: 25%"><strong><%= saldoSum - lmayor[i].cuenta[j].importe %></strong></td>
                            <%  saldoSum = parseInt(saldoSum) - parseInt(lmayor[i].cuenta[j].importe) %>

                        <% } else{%> 
                            <td style="width: 25%"><strong><%= parseInt(lmayor[i].cuenta[j].importe) + parseInt(saldoSum) %></strong></td>
                            <%  saldoSum = parseInt(lmayor[i].cuenta[j].importe) + parseInt(saldoSum) %>
                        <% } %>

                    <% } %>


                    <%if(lmayor[i].cuenta[j].haber=="haber"){%>

                        <%if(lmayor[i].cuenta[j].tipo=="PASIVO"){%>
                            <td style="width: 25%"><strong><%= parseInt(lmayor[i].cuenta[j].importe) + parseInt(saldoSum) %></strong></td>
                            <%  saldoSum = parseInt(lmayor[i].cuenta[j].importe) + parseInt(saldoSum) %>

                        <% } else{%>
                            <td style="width: 25%"><strong><%= saldoSum - lmayor[i].cuenta[j].importe %></strong></td>
                            <%  saldoSum = parseInt(saldoSum) - parseInt(lmayor[i].cuenta[j].importe) %>
                        <% } %>

                    <% } %>   
                    
                    
                <% } %>   
            </tr>
            <% } %>
        <% } %>
    </tbody>
    </table>


<% include partials/_footer%>